<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RIBSTER</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Latest compiled and minified JavaScript -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><b>PID Running</b></td>
                <td>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""
                        {% if is_pid_on %}
                          checked=checked
                        {% endif %}
                       id="running">
                      running
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Setpoint</b>
                </td>
                <td>
                  <input type="text" value="{{ setpoint }}" id="setpoint">
                </td>
              </tr>

              <tr>
                <td>
                  <b>Oven Temp</b>
                </td>
                <td id="oven_temp">
                  
                </td>
              </tr>

              <tr>
                <td>
                  <b>Meat Temp</b>
                </td>
                <td id="meat_temp">
                  
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 heading-col">
          <img src="/static/ribster-logo.png">
          
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 title-col">
          RIBSTER     
        </div>

        
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



<div id="chart">
  <svg></svg>
</div>

        </div>
      </div>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.js"></script>


  


    <script type="text/javascript">


    $(function(){

      var data_full, chart;


      function chartMe(){

      d3.selectAll("svg > *").remove();
      $.getJSON('/plot', null, function(data, status){

        data_full = data;

        nv.addGraph(function() {
          chart = nv.models.linePlusBarChart()
            .margin({top: 30, right: 60, bottom: 50, left: 70})
            //We can set x data accessor to use index. Reason? So the bars all appear evenly spaced.
            
            .x(function(d,i) { return i })
            .y(function(d,i) {return d[1] })

            ;

          chart.xAxis.tickFormat(function(d) {
            var dx = data[0].values[d] && data[0].values[d][0] || 0;
            return d3.time.format('%X')(new Date(dx))
          });

          chart.interpolate("cardinal");

          chart.y1Axis
            .tickFormat(d3.format(',f'));

          chart.y2Axis
            .tickFormat(function(d) { return d3.format(',f')(d) + '°C' });



          chart.bars.forceY([0]);

          d3.select('#chart svg')
            .datum(data_full)
            .transition()
            .duration(0)
            .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });




      });

      }


      chartMe();

      setInterval(function(){
        console.log("update");
        $.getJSON('/plot', null, function(data, status){
          data_full = data;

          d3.select('#chart svg').datum(data_full).transition().duration(500).call(chart);
          nv.utils.windowResize(chart.update);
        });
      }, 30000);


  var temp_running = false;

  function updateTemp(){
      if (!temp_running){
      temp_running = true;
      $.get('/temp', null, function(res){
        temp_running = false;  
        $('#oven_temp').html(res + " °C");
      });
      }

  }

  updateTemp();

  setInterval(function(){
    updateTemp();
  }, 5000);


  function notification(str){
    $.bootstrapGrowl(str,{
      type: 'info'
    });
  }


  $('#running').change(function(){
    if (!$('#running').prop('checked')){
      $.get('/turn_pid_off', function(){
        notification("PID Controller turned off");
      });
    }else{
      $.get('/turn_pid_on', function(){
        notification("PID Controller turned on");
      });
    }
  });



  $('#setpoint').keydown(function(e){
    if (e.keyCode == 13){
      setpoint = $(this).val();
      $.post('/set_setpoint',{'setpoint':setpoint}, function(res){
        notification("Setpoint set to "+res);
      });
    }
    
  }); 

    });


  





    </script>
    
  </body>
</html>